{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1 class="text-center bg-green-600">The contact page</h1>
       <p class="bg-blue-700">
    Thank you for choosing Online MarketplaceApp ! We value your feedback, inquiries, and concerns. Here's how you can get in touch with us:

Customer Support:
If you need assistance with an order, have a question, or simply want to share your experience, our dedicated customer support team is here to help. Reach out via email at briankimita21@gmail.com or use the contact form below.

Business Inquiries:
For partnership opportunities, vendor collaborations, or any business-related queries, please contact our business development team at partnerships@yourmarketplace.com.

Technical Support:
Encountering technical issues? Our tech support experts are ready to assist you. Drop them an email at techsupport21@onlinemaarketplaceapp.com, and we'll work to resolve the issue promptly.

Media and Press:
For media inquiries, interviews, or press-related matters, please contact our media relations team at media@onlinemaarketplaceapp.com.

General Inquiries:
Have a general question or comment? Feel free to reach us at info@onlinemaarketplaceapp.com, and we'll get back to you as soon as possible.

Visit Us:
If you prefer face-to-face interaction, our office is located at onlinemaarketplaceapp HQ, Street Address 20-10103, Nairobi, Kenya. Please note that visits are by appointment only.

We appreciate your trust in onlinemaarketplaceapp, and we look forward to hearing from you. Your satisfaction is our priority, and we're committed to making your experience with us exceptional.

    </p>
{% endblock %}