{% extends 'core/base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
    <h1 class="text-center bg-green-600">This is the terms of use page</h1>
    <p class="bg-red-300">
    By using Online Marketplace, you agree to the following terms:

Account Responsibility:

You are responsible for maintaining the confidentiality of your account information, including your password. Any activities under your account are your responsibility.
Prohibited Activities:

Users must not engage in any unlawful or prohibited activities while using our platform. This includes, but is not limited to, fraud, harassment, and violation of intellectual property rights.
Product Listings:

Sellers are responsible for the accuracy and legality of their product listings. Prohibited items include illegal goods, counterfeit items, and those infringing on intellectual property rights.
Payment and Transactions:

Transactions on our platform are secure. Users agree to pay the specified amount for products or services purchased and understand that all sales are final.
Intellectual Property:

Users must respect the intellectual property rights of others. Any unauthorized use of trademarks, copyrights, or other proprietary information is strictly prohibited.
Termination of Account:

[Your Marketplace Name] reserves the right to terminate or suspend accounts that violate our terms of use or for any other reason deemed necessary.
By using [Your Marketplace Name], you acknowledge that you have read, understood, and agree to abide by our Privacy Policy and Terms of Use. We may update these policies, and it is your responsibility to review them periodically for changes.
    </p>
{% endblock %}